{% extends 'base.html' %}

{% block body %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Remote JSONP datasource</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <center><font face="verdana" color="green" size=10>jQuery UI/Flask/Redis Autocomplete Demo</font></center><br><br>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#Tri-angle" ).autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: "/tri-angle",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function( data ) {
            response( data );
          }
        } );
      },
      minLength: 2,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value);
      }
	} );
	
	$( "#Inverted-Index" ).autocomplete({
		source: function( request, response ) {
		$.ajax( {
		  url: "/inverted-index",
		  dataType: "json",
		  data: {
			term: request.term
		  },
		  success: function( data ) {
			response( data );
		  }
		} );
		},
		minLength: 2,
			select: function( event, ui ) {
			log( "Selected: " + ui.item.value);
		}
	} );
  })
  </script>
</head>
<body>
<center> 
<div class="ui-widget">
  <label for="Tri-angle">Tri-angle Data Structure:</label><br>
  <input id="Tri-angle" style="width: 1000px">
</div>

<div class="ui-widget">
  <label for="Inverted-Index">Inverted-Index Data Structure:</label><br>
  <input id="Inverted-Index" style="width: 1000px">
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Products Selected:
  <div id="log" style="height: 400px; width: 1000px; overflow: auto;" class="ui-widget-content"></div>
</div>
</center> 
 
</body>
</html>

{% endblock %}
